<div class="generator-container">
  <h2>Генератор паролів</h2>

  <label class="row">
    <span>Довжина:</span>
    <input type="number" [(ngModel)]="length" min="6" max="50">
  </label>

  <label class="row">
    <input type="checkbox" [(ngModel)]="includeNumbers"> Включати цифри
  </label>

  <label class="row">
    <input type="checkbox" [(ngModel)]="includeSymbols"> Включати символи
  </label>

  <button (click)="generate()" [disabled]="loading">Згенерувати</button>

  <div *ngIf="loading" class="hint">Генеруємо...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="password" class="password-box">
    <p>{{ password }}</p>
    <button (click)="copyToClipboard()">Копіювати</button>
  </div>
</div>
